
<script type="text/javascript">
    $(function () {
        $.project.loadNavMenu("/Home/GetParentMenu", "menu", "/Home/GetChildMenu");
    });
</script>
<div id="menu" class="easyui-accordion" data-options="fit:true,border:false" style="text-align:center; padding:0px;">
    
</div>
